# Entorno virtual
venv/
ENV/
env/

# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local
*.sqlite3

# Variables de entorno (claves secretas, passwords)
.env

# Archivos de log
*.log

# Archivos de sistema (Windows/Mac)
.DS_Store
Thumbs.db

# Configuraciones de IDE
.idea/
.vscode/
